# Python Virtual Environment
venv/
.venv/
__pycache__/
.pytest_cache/

# Vector DB & SQLite Databases
vectordb/data/
*.sqlite3
*.bin

# Audio Recordings
audio/*
!.gitkeep

# Logs
logs/
*.log

# Environment Secrets
.env
*.env
!.env.example
